<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c9e9f6; ">
  <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faCarAlt" size="2x"></fa-icon></a>
  <a class="navbar-brand" routerLink="/">DriveX</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse order-3 " id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto  mt-2 mt-lg-0">
      
      <li class="nav-item">
        <a class="nav-link" routerLink="alltrips" routerLinkActive="[active-link, active]"   (click)="isCollapsed = !isCollapsed" >Trip Data </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="mytrips" routerLinkActive="[active-link, active]" *ngIf="authInfo?.isLoggedIn()"  (click)="isCollapsed = !isCollapsed" >My Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="addtrips" routerLinkActive="[active-link, active]" *ngIf="authInfo?.isLoggedIn()"  (click)="isCollapsed = !isCollapsed"  >Add Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="chatapp" routerLinkActive="[active-link, active]" (click)="isCollapsed = !isCollapsed" >Chat</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="calculator" routerLinkActive="[active-link, active]"  (click)="isCollapsed = !isCollapsed" > Calculator</a>
        </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="faq" routerLinkActive="[active-link, active]"  (click)="isCollapsed = !isCollapsed">FAQ</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="login" routerLinkActive="[active-link, active]" *ngIf="!authInfo?.isLoggedIn() "  (click)="isCollapsed = !isCollapsed" >Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" *ngIf="authInfo?.isLoggedIn()" (click)="logout()" routerLink="/" >Logout</a>
        </li>
    </ul>

  </div>
</nav>