<div>
  <agm-map [zoom]="10" [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let a of filteredResult; let i =index" [latitude]="a.lat" [longitude]="a.lng"></agm-marker>
  </agm-map>
</div>
<br>
<div class="container">
  <div class="col-3">
    <form>
      <div class="bg-white text-dark " style="font-weight:bold">Search By</div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          Day of the Week
        </label>
        <br>
        <select name="dayOfTheWeek" id="dayOfTheWeek" class="custom-select custom-select-sm" [(ngModel)]="model2.dayOfTheWeek" (ngModelChange)="searchByDotw()">
          <option *ngFor="let d of dotw" [value]="d">{{d}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="bg-white text-dark" style="font-weight:bold">Filter By</div>
    <div class="d-flex justify-content-around flex-wrap">


      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          Year
        </label>
        <br>
        <select class="custom-select custom-select-sm" [(ngModel)]="year" (ngModelChange)="filterExact('year', year)">
          <option *ngFor="let y of yr" [value]="y">{{y}}</option>
        </select>
        <span style="margin:2px">
          <button *ngIf="year" class="btn btn-info btn-sm" (click)="removeFilter('year')">Remove</button>
        </span>
      </div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          Month
        </label>
        <br>
        <select class="custom-select custom-select-sm" [(ngModel)]="month" (ngModelChange)="filterExact('month', month)">
          <option *ngFor="let m of mon" [value]="m">{{m}}</option>
        </select>
        <span style="margin:2px">
          <button *ngIf="month" class="btn btn-info btn-sm" (click)="removeFilter('month')">Remove</button>
        </span>
      </div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          Day
        </label>
        <br>
        <select class="custom-select custom-select-sm" [(ngModel)]="day" (ngModelChange)="filterExact('day', day)">
          <option *ngFor="let dd of dy" [value]="dd">{{dd}}</option>
        </select>
        <span style="margin:2px">
          <button *ngIf="day" class="btn btn-info btn-sm" (click)="removeFilter('day')">Remove</button>
        </span>
      </div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          Pick up
        </label>
        <br>
        <select class="custom-select custom-select-sm" [(ngModel)]="pickUpTime" (ngModelChange)="filterHourMoreThan('pickUpTime', pickUpTime)">
          <option *ngFor="let h of hour" [value]="h">{{h}}</option>
        </select>
        <button *ngIf="pickUpTime" class="btn btn-info btn-sm" (click)="removeFilter('pickUpTime')">Remove</button>

      </div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          between
        </label>
        <br>
        <select class="custom-select custom-select-sm" [(ngModel)]="pickUpTime2" (ngModelChange)="filterHourLessThan('pickUpTime2', pickUpTime2)">
          <option *ngFor="let h2 of hour" [value]="h2">{{h2}}</option>
        </select>
        <button *ngIf="pickUpTime2" class="btn btn-info btn-sm" (click)="removeFilter('pickUpTime2')">Remove</button>
      </div>
      <div class="bg-white text-dark ">
        <div>
          <label class="col-form-label-sm">
            Pick up location
          </label>
          <br>
          <input text="text" class="form-control form-control-sm" [(ngModel)]="pickUpLocation" name="pickUpLocation" id="pickUpLocation"
            (ngModelChange)="filterByLocation('pickUpLocation', pickUpLocation)">
          <span style="margin:2px">
            <button *ngIf="pickUpLocation" class="btn btn-info btn-sm" (click)="removeFilter('pickUpLocation')">Remove</button>
          </span>

        </div>
      </div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          Drop off location
        </label>
        <br>
        <input text="text" class="form-control form-control-sm" [(ngModel)]="dropOffLocation" name="dropOffLocation" id="dropOffLocation"
          (ngModelChange)="filterByLocation('dropOffLocation', dropOffLocation)">
        <span style="margin:2px">
          <button *ngIf="dropOffLocation" class="btn btn-info btn-sm" (click)="removeFilter('dropOffLocation')">Remove</button>
        </span>
      </div>
      <div class="bg-white text-dark ">
        <label class="col-form-label-sm">
          $ Fare more than
        </label>
        <br>
        <input type="number" class="form-control form-control-sm" class="form-control" [(ngModel)]="price" (ngModelChange)="filterGreaterThan('price', price)"
          min="1" max="99">
        <span style="margin:2px">
          <button *ngIf="price" class="btn btn-info btn-sm" (click)="removeFilter('price')">Remove</button>
        </span>
      </div>
    </div>
  </div>
</div>
<ng-adsense></ng-adsense>
<div class="table-responsive ">
  <table class="table table-hover ">
    <thead class="thead-light">
      <tr>
        <th scope="col ">Year</th>
        <th scope="col ">Month</th>
        <th scope="col ">Day</th>
        <th scope="col ">Day/Week</th>
        <th scope="col ">Pick Up Time</th>
        <th scope="col ">P. Location</th>
        <th scope="col ">Drop Off Time</th>
        <th scope="col ">D. Location</th>
        <th scope="col ">Price $</th>
        <th scope="col ">Status</th>
        <th scope="col ">Remarks</th>

      </tr>
    </thead>
    <tbody *ngFor="let r of filteredResult">
      <tr>
        <th scope="row ">{{r.year}}</th>
        <td>{{r.month}}</td>
        <td>{{r.day}}</td>
        <td>{{r.dayOfTheWeek}}</td>
        <td>{{r.pickUpTime}}</td>
        <td>{{r.pickUpLocation}}</td>
        <td>{{r.dropOffTime}}</td>
        <td>{{r.dropOffLocation}}</td>
        <td>{{r.price}}</td>
        <td>{{r.status}}</td>
        <td>{{r.remarks}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="(!result)">
  <span class="text-center">
    <h6>No trips are available according to your criteria</h6>
  </span>
  <br>
  <div class="text-center">
    <button type="button" class="btn btn-outline-dark btn-lg">
      <a routerLink="/addtrips">Add a Trip</a>
    </button>
  </div>
</div>