<br>
<div class="container col-md-6 offset-md-3">
    <form *ngIf="!isSignedUp" class="form-signup" autocomplete="on" [formGroup]="form">

        <fieldset>
            <legend>Sign Up</legend>

            <div class="form-group row">
                <input name="email" class="form-control" autocomplete="username" formControlName="email" placeholder="Enter Your Email Here">
            </div>
            <div class="form-group row">
                <input name="password" class="form-control" formControlName="password" autocomplete="new-password" type="password" placeholder="Password (minimum 6 characters)">
            </div>
            <div class="form-group row">
                <input name="confirm" class="form-control" formControlName="confirm" type="password" autocomplete="new-password" placeholder="Confirm Password">
            </div>
        </fieldset>

        <button (click)="signUp()" [disabled]="!isPasswordMatch()" class="btn btn-primary">Sign Up</button>
        <button class="btn btn-primary" (click)="goHome()">Back</button>
    </form>
    <div *ngIf="isSignedUp">
        <p>We have sent you a verification email.</p>
        <p>Please verify and log in again!</p>
    </div>
</div>