<div style="height: 560px; background-image: url('../../../assets/background.jpg')">
  <div class="jumbotron">
      <h1 class="display-4">DriveX SG</h1>
      <p class="lead">Introducing a community driven, data-led approach to driving a PHV. </p>
      
      <p class="lead">Drive smart, earn more.</p>
      <hr class="my-4">
      <p>DriveX allows you to log, analyze and share your trip logs</p>
      <p >Figure out where you can earn the highest fares  </p>
      <p>Any time, any day</p>
      <a class="btn btn-info btn-lg" href="#card" role="button">Learn more</a>
  </div>   
</div>
<div style="background-color: #c9e9f6">
<br>

<div class="d-flex justify-content-center flex-wrap" id="card">
    <div class="card" style="width: 19rem;">
        <div style="text-align:center; padding-top: 30px; padding-bottom:30px; background-color: #cefde1">
            <fa-icon [icon]="faMobileAlt" size="10x"></fa-icon>
          </div>
      <div class="card-body" style="background-color: #fcd7de">
        <h5 class="card-title">For the 24/7 Mobile Warrior</h5>
        <p class="card-text">Log your trips hassle-free any time any day.</p>
        <a routerLink="/login" class="btn btn-info">Join Now</a>
      </div>
    </div>
    <div class="card" style="width: 19rem;">
        <div style="text-align:center; padding-top: 30px; padding-bottom:30px; ; background-color: #d7e6dd">
            <fa-icon [icon]="faMapMarkedAlt" size="10x"></fa-icon>
          </div>
      <div class="card-body" style="background-color: #fac0cc">
        <h5 class="card-title">Google Maps and Places API</h5>
        <p class="card-text">Visualize large volumns of trip data with Google Maps. </p>
        <a routerLink="/login" class="btn btn-info">Join Now</a>
      </div>
    </div>
    <div class="card" style="width: 19rem;">
        <div style="text-align:center; padding-top: 30px; padding-bottom:30px; background-color: #cefde1">
            <fa-icon [icon]="faHandshake" size="10x"></fa-icon>
          </div>
      <div class="card-body" style="background-color: #fcd7de">
        <h5 class="card-title">Community Sharing </h5>
        <p class="card-text">Share trip logs and chat about anything under the Sun!</p>
        
        <a routerLink="/login" class="btn btn-info">Join Now</a>
      </div>
    </div>
    <div class="card" style="width: 19rem;">
        <div style="text-align:center; padding-top: 30px; padding-bottom:30px ; background-color: #d7e6dd">
            <fa-icon [icon]="faDonate" size="10x"></fa-icon>
          </div>
      <div class="card-body" style="background-color: #fac0cc">
        <h5 class="card-title">Free for life</h5>
        
        <p class="card-text">This service is completely free of charge.  </p>
        <a routerLink="/login" class="btn btn-info">Join Now</a>
      </div>
    </div>
</div>
</div>
<ng-adsense></ng-adsense>
