<div style="background-color:rgb(252, 239, 239)">

  <div class="container col-lg-8 offset-lg-2" style="border: 10px solid rgba(244, 246, 248, 0.87);
border-radius: 25px; padding: 40px; background-color: rgb(100, 198, 223)">

    <form novalidate>
      <div class="d-flex flex wrap justify-content-around">
        <div style="padding: 2px">
          <fa-icon [icon]="faCalculator" size="3x"></fa-icon>
        </div>
        <h4>Income Calculator</h4>
        <div style="padding: 2px">
          <fa-icon [icon]="faHandHoldingUsd" size="3x"></fa-icon>
        </div>
      </div>
      <hr>
      <br>
      <div class="form-group d-flex flex wrap justify-content-between">
        <div class="elements lead">
          <label for="fare">Fare Received ($)</label>
        </div>

        <div class="elements">
          <input name="fare" [(ngModel)]="this.model.fare" type="number" class="form-control" name="email" placeholder="" (ngModelChange)="Calculator()">
        </div>

        <div class="elements lead">
          <label for="petrol">Fuel Cost ($)</label>
        </div>
        <div class="elements">
          <input name="petrol" [(ngModel)]="this.model.petrol" class="form-control" name="petrol" type="number" placeholder="" (ngModelChange)="Calculator()">
        </div>
      </div>
      <div class="form-group d-flex flex wrap justify-content-between">
        <div class="elements lead">
          <label for="rent">Rental ($)</label>
        </div>
        <div class="elements">
          <input name="rent" class="form-control" [(ngModel)]="this.model.rent" name="rent" type="number" placeholder="" (ngModelChange)="Calculator()">
        </div>

        <div class="elements lead">
          <label for="misc">Misc ($)</label>
        </div>
        <div class="elements">
          <input name="misc" class="form-control" [(ngModel)]="this.model.misc" name="misc" type="number" placeholder="" (ngModelChange)="Calculator()">
        </div>

        <div class="elements lead">
          <label for="hours">Hours Driven </label>
        </div>
        <div class="elements">
          <input name="hours" class="form-control" [(ngModel)]="this.model.hours" name="hours" type="number" placeholder="" (ngModelChange)="Calculator()">
        </div>
      </div>
    </form>
    <hr>
    <br>
    <div class="d-flex flex wrap justify-content-around">
      <div class="elements" style="color: rgb(0, 12, 184); width: 100px">
        <h6>Daily Income:</h6>
        <div class="elements " style="color: rgb(163, 0, 49)">
          <h1 class="display-4"> ${{this.dailyIncome}}</h1>
        </div>
      </div>


      <div class="elements" style="color: rgb(0, 12, 184); width: 100px">
        <h6>Hourly Income: </h6>
        <div *ngIf="this.hourlyIncome && this.model.hours" class="elements " style="color: rgb(163, 0, 49)">
          <h1 class="display-4">${{this.hourlyIncome}}</h1>
        </div>
      </div>
    </div>
<div class="d-flex justify-content-center">
    <style>.bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#000000 !important;background-color:#FFDD00 !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 23px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#000000 !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/peYUFMf"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>
</div>
  </div>
</div>
<ng-adsense></ng-adsense>