<div class="container">
  <br>
  <br>
<h4 class="display-4">Frequently Asked Questions</h4>
<hr class="my-4">

<h6>
  1. Is it Free?
</h6>
<p>
  Yes it is! Please bear with the advertisements on the app to ensure the infrastructure costs can be covered.
</p>
<h6>
    2. Why should I use this app? Grab has a Heatmap feature already
  </h6>
  <p>
    Grab heatmap works on live data. It is not entirely accurate, and there has been instances where drivers enter a red zone, and fail to find a ride. This app is for those (like me) who prefer to analyze previous data and find usage patterns. However, do note that previous behaviour is not a perfect indication of future behaviour.
  </p>
<h6>
  3. I'm from Malaysia, and find that Grab's heatmap isn't reliable. Can I use this app?
</h6>
<p>
  Currently, this site is for Singaporean private hire vehicles only. If there is sufficient demand from our Malaysian friends, drop me a text and I will set up one.
</p>
<h6>
  4. I have some ideas on how to improve the app. Who can I contact?
</h6>
<p>
  Definitely, and please do! You can contact us via the livechat widget at the bottom right of the app.
</p>
<h6>
  5. I am a software developer too and would like to help you implement more features. How do I do so?
</h6>
<p>
  I'm a hobbyist coder and would certainly welcome that! Please contact me via the livechat widget.
</p>
<h6>
    6. I like your app and find it useful, how do I show my appreciation?
  </h6>
  <p>
You can <style>.bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#000000 !important;background-color:#FFDD00 !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 23px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#000000 !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/peYUFMf"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a> or buy me lunch lah.
  </p>
<br>
<br>
<br>
</div>
<ng-adsense></ng-adsense>
