
<br>
  <div class="container">

    <div align="center">
        <fa-icon [icon]="faCommentsDollar" size="7x"></fa-icon>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8" [hidden]="!chatService.user">
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <app-chat></app-chat>
        </div>
      </div>
      <div class="col-md-4" [hidden]="chatService.user">
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <app-my-details></app-my-details>
        </div>
      </div>
    </div>

  </div>