<div class="container fluid">
  <div class="d-flex justify-content-around flex-wrap">

    <h1>Add New Trip</h1>

  </div>
</div>

<div class="container">

  <form #tripForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="form-group">
        <label for="day">Day*</label>
        <select class="form-control" id="day" name="day" #day="ngModel" [(ngModel)]="model.day" [ngModelOptions]="{standalone: true}"
          required>
          <option *ngFor="let da of days" [ngValue]="da">{{da}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="month">Month*</label>
        <select class="form-control" id="month" name="month" #month="ngModel" [(ngModel)]="model.month" [ngModelOptions]="{standalone: true}"
          required>
          <option *ngFor="let mon of months" [ngValue]="mon">{{mon}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="year">Year*</label>
        <input id="year" name="year" #year="ngModel" type="text" class="form-control" [(ngModel)]="model.year" minlength="4" maxlength="4"
          pattern="^(?:19|20)\d{2}$" required/>
        <div *ngIf="year.errors && (year.touched)">
          <div [hidden]="!year.errors.required && year.dirty" class="help-block alert alert-danger">
            Year is required.
          </div>
          <div [hidden]="!year.errors.pattern" class="help-block alert alert-danger">
            <span class="help-block alert">Are you sure you have the correct year?
            </span>
          </div>
          <div [hidden]="!year.errors.minlength" class="help-block alert alert-danger">
            <span class="help-block alert">Year must be in YYYY format.
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="dayOfTheWeek">Day of the Week*</label>
        <select class="form-control" #dayOfTheWeek="ngModel" name="dayOfTheWeek" id="dayOfTheWeek" [(ngModel)]="model.dayOfTheWeek"
          [ngModelOptions]="{standalone: true}" required>
          <option *ngFor="let dayOf of daysOfTheWeek" [ngValue]="dayOf">{{dayOf}}</option>
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="form-group">
        <label for="pickUpTime">Pick Up Time (24hr format)*</label>
        <input id="pickUpTime" name="pickUpTime" #pickUpTime="ngModel" type="text" class="form-control" [(ngModel)]="model.pickUpTime"
          minlength="4" maxlength="4" pattern="[0-9]*" required/>
        <div *ngIf="pickUpTime.errors && (pickUpTime.touched)">
          <div [hidden]="!pickUpTime.errors.required && pickUpTime.dirty" class="help-block alert alert-danger">
            Pick Up Time is required.
          </div>
          <div [hidden]="!pickUpTime.errors.pattern" class="help-block alert alert-danger">
            <span class="help-block alert">Pick Up Time is invalid
            </span>
          </div>
          <div [hidden]="!pickUpTime.errors.minlength" class="help-block alert alert-danger">
            <span class="help-block alert">Pick Up Time must be in 24hr format.
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label for="pickUpLocation">Pick Up Location* </label>
        </div>
        <input id="pickUpLocation" google-place class="google-place-input" #pickUpLocation="ngModel" name="pickUpLocation" type="text"
          [(ngModel)]="model.pickUpLocation" placeholder="Street Name or Postal Code" class="form-control" (onSelect)="setAddress($event)"
          required/>
        <div *ngIf="pickUpLocation.errors && (pickUpLocation.touched)">
          <div [hidden]="!pickUpLocation.errors.required && pickUpLocation.dirty" class="help-block alert alert-danger">
            Pick up Location is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="dropOffTime">Drop Off Time (24hr format)*</label>
        <input id="dropOffTime" #dropOffTime="ngModel" name="dropOffTime" type="text" class="form-control" [(ngModel)]="model.dropOffTime"
          minlength="4" maxlength="4" pattern="[0-9]*" required/>
        <div *ngIf="dropOffTime.errors && (dropOffTime.touched)">
          <div [hidden]="!dropOffTime.errors.required && dropOffTime.dirty" class="help-block alert alert-danger">
            Drop Off Time is required.
          </div>
          <div [hidden]="!dropOffTime.errors.pattern" class="help-block alert alert-danger">
            <span class="help-block alert">Drop Off Time is invalid.
            </span>
          </div>
          <div [hidden]="!dropOffTime.errors.minlength" class="help-block alert alert-danger">
            <span class="help-block alert">Drop Off Time must be in 24hr format.
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label for="dropOffLocation">Drop Off Location* </label>
        </div>
        <input id="dropOffLocation" google-place2 class="google-place-input" #dropOffLocation="ngModel" name="dropOffLocation" type="text"
          [(ngModel)]="model.dropOffLocation" placeholder="Street Name or Postal Code" class="form-control" required (onSelect)="setAddress2($event)"
        />
        <div *ngIf="dropOffLocation.errors && (dropOffLocation.touched)">
          <div [hidden]="!dropOffLocation.errors.required && dropOffLocation.dirty" class="help-block alert alert-danger">
            Drop Off Location is required.
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="form-group">
        <label for="price">Price*</label>
        <input id="price" #price="ngModel" name="price" type="text" class="form-control" [(ngModel)]="model.price" minlength="1"
          maxlength="2" pattern="[0-9]*" required placeholder="$9" />
        <div *ngIf="price.errors && (price.touched )">
          <div [hidden]="!price.errors.required && price.dirty" class="help-block alert alert-danger">
            Price is required.
          </div>
          <div [hidden]="!price.errors.pattern" class="help-block alert alert-danger">
            <span class="help-block alert">Price should be rounded to the nearest dollar
            </span>
          </div>
          <div [hidden]="!price.errors.minlength" class="help-block alert alert-danger">
            <span class="help-block alert">Price should be between $1-99.
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status*</label>
        <select class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="model.status" [ngModelOptions]="{standalone: true}"
          required>
          <option *ngFor="let st of statuses" [ngValue]="st">{{st}}</option>
        </select>
      </div>

      <div class="form-group">
        <div>
          <label for="remarks">Remarks </label>
        </div>
        <input id="remarks" #remarks="ngModel" name="remarks" type="text" [(ngModel)]="model.remarks" class="form-control" />
      </div>
    </div>
    <div class=" d-flex justify-content-center flex-wrap">
      <div class="form-group">
        <hr/>
        <button type="submit" [disabled]="!tripForm.form.valid" class="btn btn-success" (click)="openBackDropCustomClass(content)">Submit</button>
        <button type="reset" class="btn btn-danger" (click)="tripForm.reset()">Reset</button>
      </div>
    </div>

  </form>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Success!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>You have added 1 trip. Add more?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Yes</button>
      <a routerLink="alltrips" type="button" class="btn btn-light" (click)="modal.close('Close click')">No</a>
    </div>
  </ng-template>
</div>
<ng-adsense></ng-adsense>