<br>
<div class="container col-md-6 offset-md-3">
  <form  novalidate class="login-form" [formGroup]="form">

  <fieldset>
      <legend>Sign In</legend>
      <div class="form-group row">
          <input name="email" class="form-control" autocomplete="username" formControlName="email" placeholder="a@a.com">
      </div>
      <div class="form-group row ">
          <input name="password" class="form-control" formControlName="password" autocomplete="current-password"  type="password" placeholder="*****">
      </div>
  </fieldset>

  <button class="btn btn-primary" (click)="login()">Sign In</button>
  
  
  <br><br>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p>Forgot password?<a routerLink="/resetpw"> Reset your password</a></p>
    <p>Not registered?<a routerLink="/register"> Create an account</a></p>
  </div>
  </form>
</div>

