<div class="jumbotron">
    <h1 class="display-4" style="text-align: center">Welcome</h1>
    <p class="lead" style="text-align: center">To begin, please follow these simple steps </p>

    <hr class="my-4">

    <div style="text-align: center">

        <p>1. Log your trip information via "Add Trips"</p>

    </div>
    <div style="text-align: center">

        <p>2. Use a filter, or a combination of filters to analyze the data</p>
    </div>
    <div style="text-align: center">

        <p>3. If you need any assistance, feel free to contact us</p>
    </div>
    <div style="text-align: center">

        <p>4. Share this site with your friends on </p>
        <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
    </div>
    <br>
    <br>
    <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12" style="text-align: center">
        
            <button type="button" class="btn btn-outline-info btn-lg" (click)="setStatus()">Log in</button>

    </div>
</div>
<ng-adsense></ng-adsense>
