<h6 class="pb-2 mb-0">Group Chat</h6>

<div class="chats" style=" overflow: auto ">
  <div class="chatbox">
    <div *ngFor="let chat of chats">
      <div class="message sent" *ngIf="chat.type!=='joined' && chat.isMe">
        {{chat.message}}
        <span class="metadata">
          <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
        </span>
      </div>
      <div class="message received"  *ngIf="chat.type!=='joined' && !chat.isMe">
        <strong>{{chat.displayName}}</strong> <br>
        {{chat.message}}
        <span class="metadata">
          <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
        </span>
      </div>
      <p align="center" class="joined"  *ngIf="chat.type==='joined'">
      <span class="rounded bg-primary text-white">{{chat.displayName}} Joined</span>
      </p>
    </div>
  </div>

  <div class="d-flex flex-row">
    <input [(ngModel)]="message" type="text" class="form-control" placeholder="Enter message" style="margin-right: 10px">
    <button [disabled]="!message || sending" (click)="sendMessage(message)" class="btn btn-primary"> {{sending ? 'Sending' : 'Send'}}</button>
  </div>
</div>