<br>
<div class="container col-md-6 offset-md-3">
  <form  novalidate class="login-form" [formGroup]="form">

  <fieldset>
      <p> Please enter a valid email address to reset your password </p>
      <div class="form-group row">
          <input name="email" class="form-control" autocomplete="username" formControlName="email" placeholder="a@a.com">
      </div>
  </fieldset>
  <br>
  <p *ngIf="passReset" >Reset requested. Check your email instructions.</p>

  <button class="btn btn-primary" (click)="reset()">Reset</button>
  
 
  
  </form>
</div>